/*
            GENERAL
 */
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../assets/fonts/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../assets/fonts/Montserrat-Bold.otf');
}



.text-field{
    -fx-text-fill: #f34278;
    -fx-fill: #f34278;
    -fx-prompt-text-fill: #f34278;
}
.button-secondary{
    -fx-border-color: #f34278;
    -fx-border-width: 2px;
}

/*
            LOGIN FORM
 */
#loginFormBackground{
    -fx-background-image: url("../assets/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

/*
            BUTTONS
 */

.button{
    -fx-pref-width: 256px;
    -fx-pref-height: 36px;
    -fx-border-radius: 6px;
    -fx-text-fill: #f3f3f3;
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 10px;
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}
    /*
               PRIMARY BUTTONS
    */

    .button__primary--blue{
        -fx-background-color: #328EFC;
    }
    .button__primary--bright-violet{
        -fx-background-color: #9944FF;
    }
    .button__primary--dark-violet{
        -fx-background-color: #1B1050;
    }
    .button__primary--magenta{
        -fx-background-color: #B60C73;
    }


    /*
                TERTIARY BUTTONS
    */

    .button__tertiary{

    }

/*
            TEXT FIELDS
 */

.text-field-label{
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 16px;
    -fx-text-fill: #f3f3f3;
}
.text-field{
    -fx-pref-width: 256px;
    -fx-pref-height: 36px;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 10px;
    -fx-text-fill: #f3f3f3;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: transparent;
}
    .text-field--blue{
        -fx-background-color: #328EFC;
        -fx-border-color: #6FB0FD;
    }
    .text-field--bright-violet{
        -fx-background-color: #9944FF;
        -fx-border-color: #B77CFF;
    }
    .text-field--dark-violet{
        -fx-background-color: #1B1050;
        -fx-border-color: #5F5784;
    }
    .text-field--magenta{
        -fx-background-color: #B60C73;
        -fx-border-color: #CC549D;

    }